<h1>This is the about page</h1>

<h2>About Me</h2>
  <p>Hi! I’m Jordan and I love learning about software development.
    I began my coding journey several years ago by writing a simple
    text-based game in python that I excitedly showed to several friends
    (who mostly tried not to laugh at me). Since then, I have continued to
    study coding by taking many online courses and completing Code Louisville,
    a KentuckianaWorks program, for front end web development.
  </p>
